version: 2
updates:
  - package-ecosystem: github-actions
    directory: /.github/workflows
    schedule:
      interval: "monthly"
    groups:
      actions:
        patterns:
          - "*"
        update-types:
          - patch
          - minor
          - major

  - package-ecosystem: pip
    directory: /CI
    schedule:
      interval: "monthly"
    groups:
      python:
        patterns:
          - "requirements_ci.*"
        update-types:
          - patch
          - minor
          - major
