[flake8]
exclude =
	.git,
	docs,
	build,
	.eggs,
	tests
ignore =
	C,
	D,
	E,
	F,
	RST210,
	RST213,
	W503
per-file-ignores =
	src/xclim/core/locales.py:RST399
rst-directives =
	bibliography,
	autolink-skip
rst-roles =
	doc,
	mod,
	py:attr,
	py:attribute,
	py:class,
	py:const,
	py:data,
	py:func,
	py:indicator,
	py:meth,
	py:mod,
	py:obj,
	py:ref,
	ref,
	cite:cts,
	cite:p,
	cite:t,
	cite:ts
