default_language_version:
  python: python3

repos:
- repo: https://github.com/asottile/pyupgrade
  rev: v3.15.0
  hooks:
  - id: pyupgrade
    args: ['--py38-plus']
    exclude: 'xclim/core/indicator.py'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: trailing-whitespace
    exclude: setup.cfg
  - id: end-of-file-fixer
    exclude: '.ipynb|.github/publish-mastodon.template.md'
  - id: check-json
  - id: check-toml
  - id: check-yaml
    args: ['--allow-multiple-documents']
  - id: debug-statements
  - id: pretty-format-json
    args: ['--autofix', '--no-ensure-ascii', '--no-sort-keys']
    exclude: '.ipynb'
- repo: https://github.com/pappasam/toml-sort
  rev: v0.23.1
  hooks:
  - id: toml-sort-fix
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.33.0
  hooks:
  - id: yamllint
    args: ['--config-file=.yamllint.yaml']
- repo: https://github.com/psf/black
  rev: 23.11.0
  hooks:
  - id: black
- repo: https://github.com/PyCQA/isort
  rev: 5.12.0
  hooks:
  - id: isort
    args: ['--settings-file=pyproject.toml']
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.1.6
  hooks:
  - id: ruff
- repo: https://github.com/pycqa/flake8
  rev: 6.1.0
  hooks:
  - id: flake8
    additional_dependencies: ['flake8-alphabetize', 'flake8-rst-docstrings']
    args: ['--config=setup.cfg']
- repo: https://github.com/nbQA-dev/nbQA
  rev: 1.7.1
  hooks:
  - id: nbqa-black
  - id: nbqa-pyupgrade
    args: ['--py38-plus']
  - id: nbqa-isort
    args: ['--settings-file=pyproject.toml']
- repo: https://github.com/kynan/nbstripout
  rev: 0.6.1
  hooks:
  - id: nbstripout
    files: '.ipynb'
    args: [ "--extra-keys", "metadata.kernelspec" ]
- repo: https://github.com/keewis/blackdoc
  rev: v0.3.9
  hooks:
  - id: blackdoc
    exclude: '(xclim/indices/__init__.py|docs/installation.rst)'
    additional_dependencies: ['black==23.10.1']
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.27.2
  hooks:
  - id: check-github-workflows
  - id: check-readthedocs
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: monthly
  skip: [nbstripout]
  submodules: false
