language: python

sudo: false

branches:
  only:
    - master
    - ^v[0-9]+\.[0-9]+[\.]?[a-c-]?[0-9]?[\w-]+\b

matrix:
  fast_finish: true
  include:
    - env: TOXENV=docs
      name: "Documentation"
      python: 3.6
      addons:
        apt:
          packages:
            - pandoc
    - env: TOXENV=black
      name: "Black and flake8 compliance"
      python: 3.6
    - env: TOXENV=py38-dev
      name: "Python 3.8-development (Linux)"
      python: 3.8-dev
      dist: xenial
      addons:
        apt:
          packages:
            - liblapack-dev
            - libblas-dev
            - libhdf5-serial-dev
            - netcdf-bin
            - libnetcdf-dev
    - env: TOXENV=py37-windows
      name: "Python3.7 (Windows)"
      os: windows
      language: bash
      before_install:
        - choco install python3
        - export PATH="/c/Python37:/c/Python37/Scripts:$PATH"
        - python -m pip install --upgrade pip wheel
    - env: TOXENV=py37-macOS
      name: "Python3.7 (macOS)"
      os: osx
      language: minimal
      addons:
        homebrew:
          update: true
          packages:
            - netcdf
            - python@3
    - env: TOXENV=py37
      name: "Python3.7 (Linux)"
      python: 3.7
      dist: xenial
      addons:
        apt:
          packages:
            - libhdf5-serial-dev
            - netcdf-bin
            - libnetcdf-dev
    - env: TOXENV=py36
      name: "Python3.6 (Linux)"
      python: 3.6
    - env: TOXENV=py35
      name: "Python3.5 (Linux)"
      python: 3.5
  allow_failures:
    - env: TOXENV=py38-dev
    - env: TOXENV=py37-windows

before_install:
    - sudo -H pip install --upgrade pip

install:
    - pip install -U tox-travis

script: tox -e $TOXENV

before_deploy:
    - echo "$TRAVIS_TAG" "$TRAVIS_COMMIT"

deploy:
  skip_cleanup: true
  skip_existing: true
  provider: pypi
  distributions: sdist bdist_wheel
  user: Zeitsperre
  password:
    secure: Fk0EFrbBumFHXWoCdTCdrsTp9lSnrksqhEbsXLYFhmfnsFtzQ9z4Uhs4sgyzNeA0VsIJ3q2RnPaSrgDXxDzguzSrm9R2tKjgSoZxrdaMKOaHwkJjkF+5DKqBUpjhGQmlLVt0u31vGBS3u8OE18cP4CxZOuPM2Dx2dnHLB9mVZAC8dlt5SBxS2HtC8J8IYilR/v4fkTt6niZPnaozsViBCiybnzyrylJsYeVhTj7p1buscw/yogZPylNV+O1Dn8GLXe7Viw3ZO5kIyEq96NMTBwpXtbgQmUClcGB6m1J+mx6wE0nh9abo69EtGOuaiCY9XqEgO7J8zZNIG2hC3Smy3+o96ltPopl3C2ZJebvM3aVqNx+GHnSkmAYw/VYtGb9Psd5IzafixTIQkBP6Qab8GGj2+iaeriLgTFqUEvxtywZZovQKHtXgPyy1kcztGSY/hygObQu4Ixvx8BjkzATfMKKkc3B8MBOeFnsxm7gn5IAhukbIh8JHTU4t2sHHJUVAbor3p7luGkZUp6ygoOuYsKNpER+cr39GLVV5p+IAY2Lm69aKSXkJe0tvPRouii2TNfnNU+S8ygbZ/6fqK5VTS1eLG0ehXXCxSDBkqt4xw4IFsoDFwObsjVSzKzcOP0UAqDWZhiHoiPLDxUfW/nA2JoTHrM3tBiXzWAZenS5y7Pc=
  on:
    tags: true
    all_branches: true
    condition: $TRAVIS_TAG =~ ^v[0-9]+\.[0-9]+[\.]?[a-c-]?[0-9]?[\w-]+\b
    repo: Ouranosinc/xclim
    python: 3.7
