language: python

os: linux

branches:
  only:
    - master
    - ^v[0-9]+\.[0-9]+[\.]?[a-c-]?[0-9]?[\w-]+\b

jobs:
  fast_finish: true
  include:
    - env:
        - TOXENV=docs
        - READTHEDOCS=true
      name: "Documentation"
      python: 3.6
      addons:
        apt:
          packages:
            - pandoc
    - env: TOXENV=black
      name: "Black and flake8 compliance"
      python: 3.6
      addons:
        apt:
          packages:
            - libspatialindex-dev
    - env: TOXENV=py38
      name: "Python3.8 (Linux)"
      python: 3.8
      dist: xenial
      addons:
        apt:
          packages:
            - libspatialindex-dev
            - libnetcdf-dev
            - libhdf5-dev
    - env: TOXENV=py38-macOS
      name: "Python3.8 (macOS)"
      os: osx
      language: shell
      addons:
        homebrew:
          update: true
          packages:
            - netcdf
            - spatialindex
            - python@3.8
      before_install:
        - printenv
        - /usr/local/lib/python3.8/bin/pip3 install --upgrade setuptools
        - /usr/local/lib/python3.8/bin/pip3 install --upgrade pip
      install:
        - /usr/local/opt/python@3.8/bin/pip3 install -U tox-travis
    - env: TOXENV=py37
      name: "Python3.7 (Linux)"
      python: 3.7
      dist: xenial
      addons:
        apt:
          packages:
            - libspatialindex-dev
    - env: TOXENV=py37-doctests
      name: "Python3.7 (Linux + doctests)"
      python: 3.7
      dist: xenial
      addons:
        apt:
          packages:
            - libspatialindex-dev
    - env: TOXENV=py36
      name: "Python3.6 (Linux)"
      python: 3.6
      addons:
        apt:
          packages:
            - libspatialindex-dev
    - env: TOXENV=py36-xarray
      name: "Python3.6 (Linux + xarray@master + cftime@master)"
      python: 3.6
      addons:
        apt:
          packages:
            - libspatialindex-dev
    - env: TOXENV=py36-bottleneck
      name: "Python3.6 (Linux + bottleneck@master)"
      python: 3.6
      addons:
        apt:
          packages:
            - libspatialindex-dev
    - env: TOXENV=py38-anaconda
      name: "Python3.8 (Linux + Anaconda)"
      python: 3.8
      before_install:
          - printenv
          - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
          - bash miniconda.sh -b -p $HOME/miniconda
          - export PATH="$HOME/miniconda/bin:$PATH"
          - hash -r
          - conda config --set always_yes yes --set changeps1 no
          - conda install setuptools
          - conda update -q conda
          - conda create -n xclim -c conda-forge python=$TRAVIS_PYTHON_VERSION
          - source activate xclim
          - conda env update -f environment.yml
          - conda install pytest coveralls pytest-cov
      install:
          - conda install pip
          - pip install -e .
      script:
          - py.test --cov=xclim
    - env:
        - TOXENV=py37-windows
        - DESIRED_PYTHON=3.7
      name: "Python3.7 (Windows + Anaconda)"
      os: windows
      language: shell
      before_install:
        - printenv
        - wget -q https://repo.continuum.io/miniconda/Miniconda3-latest-Windows-x86_64.exe -O miniconda.exe
        - chmod +x miniconda.exe
        - ./miniconda.exe "/S" "/D=$(cygpath -m -a $HOME/miniconda)" # configuration example from https://github.com/TimoRoth/oggm/blob/master/ci/travis_stage_script.sh
        - export PATH="$HOME/miniconda/bin:$PATH"
        - hash -r
        - conda config --set always_yes yes --set changeps1 no
        - conda install setuptools
        - conda update -q conda
        - conda create -n xclim -c conda-forge python=$DESIRED_PYTHON
        - source activate xclim
        - conda env update -f environment.yml
        - conda install pytest coveralls pytest-cov
      install:
        - conda install pip
        - pip install -e .
      script:
        - py.test --cov=xclim
#    - env:
#        - TOXENV=py37-windows
#        - PROJ_DIR=/c/OSGeo4W64
#        - GDAL_VERSION=3.0.0
#        - GDAL_DATA=/c/OSGeo4W64/share/gdal
#      name: "Python3.7 (Windows)"
#      os: windows
#      language: shell
#      before_install:
#        - wget --directory-prefix=/c/temp/ https://download.osgeo.org/osgeo4w/osgeo4w-setup-x86_64.exe
#        - /c/temp/osgeo4w-setup-x86_64.exe -b -q -k -r -A -s http://download.osgeo.org/osgeo4w/ -a x86_64 -P proj,gdal,libspatialindex,geos
#        - choco install python --version=3.7.5
#        - export PATH="/c/Python37:/c/Python37/Scripts:$PATH"
#        - export PATH="/c/OSGeo4W64/include:/c/OSGeo4W64/bin:$PATH"
#        - printenv
#        - python -m pip install --upgrade pip wheel
  allow_failures:
    - env: TOXENV=py38-anaconda
    - env: TOXENV=py38-macOS
    - env: TOXENV=py37-doctests
    - env:
      - TOXENV=py37-windows
      - DESIRED_PYTHON=3.7
    - env: TOXENV=py36-xarray
    - env: TOXENV=py36-bottleneck
#    - env:
#      - TOXENV=py37-windows
#      - PROJ_DIR=/c/OSGeo4W64
#      - GDAL_VERSION=3.0.0
#      - GDAL_DATA=/c/OSGeo4W64/share/gdal

before_install:
    - printenv
    - pip install --upgrade pip setuptools

install:
    - pip install -U tox-travis

script: tox -e $TOXENV

before_deploy:
    - echo "$TRAVIS_TAG" "$TRAVIS_COMMIT"

deploy:
  skip_existing: true
  provider: pypi
  distributions: sdist bdist_wheel
  username: Zeitsperre
  password:
    secure: Fk0EFrbBumFHXWoCdTCdrsTp9lSnrksqhEbsXLYFhmfnsFtzQ9z4Uhs4sgyzNeA0VsIJ3q2RnPaSrgDXxDzguzSrm9R2tKjgSoZxrdaMKOaHwkJjkF+5DKqBUpjhGQmlLVt0u31vGBS3u8OE18cP4CxZOuPM2Dx2dnHLB9mVZAC8dlt5SBxS2HtC8J8IYilR/v4fkTt6niZPnaozsViBCiybnzyrylJsYeVhTj7p1buscw/yogZPylNV+O1Dn8GLXe7Viw3ZO5kIyEq96NMTBwpXtbgQmUClcGB6m1J+mx6wE0nh9abo69EtGOuaiCY9XqEgO7J8zZNIG2hC3Smy3+o96ltPopl3C2ZJebvM3aVqNx+GHnSkmAYw/VYtGb9Psd5IzafixTIQkBP6Qab8GGj2+iaeriLgTFqUEvxtywZZovQKHtXgPyy1kcztGSY/hygObQu4Ixvx8BjkzATfMKKkc3B8MBOeFnsxm7gn5IAhukbIh8JHTU4t2sHHJUVAbor3p7luGkZUp6ygoOuYsKNpER+cr39GLVV5p+IAY2Lm69aKSXkJe0tvPRouii2TNfnNU+S8ygbZ/6fqK5VTS1eLG0ehXXCxSDBkqt4xw4IFsoDFwObsjVSzKzcOP0UAqDWZhiHoiPLDxUfW/nA2JoTHrM3tBiXzWAZenS5y7Pc=
  on:
    tags: true
    all_branches: true
    condition: $TRAVIS_TAG =~ ^v[0-9]+\.[0-9]+[\.]?[a-c-]?[0-9]?[\w-]+\b
    repo: Ouranosinc/xclim
    python: 3.7
