numpy>=1.16
git+https://github.com/pydata/xarray.git@master#egg=xarray
scipy>=1.2
numba
pandas>=0.23
cftime>=1.0.4
netCDF4>=1.4
fiona>=1.8
geojson>=2.5.0
shapely>=1.6
geopandas>=0.7
dask[array]>=2.6
pyproj>=2.5
pint>=0.9
bottleneck~=1.3.1
boltons>=20.1
scikit-learn>=0.21.3
packaging>=20.0
sphinx
sphinx-rtd-theme
nbsphinx
pandoc
ipython
ipykernel
jupyter_client
matplotlib
distributed>=2.0
