# dev tools and testing
black
bump2version
coverage
flake8
mypy
nbval
pre-commit>=2.9
pydocstyle>=5.1.1
pylint
pytest
pytest-cov
pytest-runner
tokenize-rt
tox
xdoctest
# Documentation and examples
distributed>=2.0
ipykernel
matplotlib
nbsphinx
nc-time-axis
netCDF4
pooch
sphinx
sphinx-rtd-theme
