env_list = [
  "docs",
  "doctests",
  "lint",
  "notebooks",
  "numpy",
  "sbck",
  "upstream"
]
skip_missing_interpreters = true

[env.docs]
labels = ["docs"]
description = "Build the documentation with makefile under {basepython}"
setenv = {PYTHONPATH = "{toxinidir}", READTHEDOCS = "1"}
extras = ["docs"]
allowlist_externals = ["env", "make"]
deps = [
  "lmoments3 >=1.0.7",
  "h5netcdf >=1.5.0",
  "netcdf4",
  "pytest >=9.0.0",
  "xsdba >=0.4.0"
]
commands = [
  ["make", "docs"]
]

[env.doctests]
labels = ["doctests"]
description = "Run doctests with pytest under {basepython}"
commands = [
  ["python", "-c", "from xclim.testing.utils import run_doctests; run_doctests()"]
]

[env.lint]
labels = ["lint"]
description = "Run code quality compliance tests under {basepython}"
skip_install = true
allowlist_externals = ["make"]
deps = [
  "codespell >=2.4.1",
  "deptry >=0.23.1",
  "flake8 >=7.3.0",
  "flake8-rst-docstrings >=0.4.0",
  "numpydoc >=1.9.0",
  "ruff >=0.14.3",
  "vulture >=2.14",
  "yamllint >=1.35.1"
]
commands_pre = [
  ["python", "-m", "pip", "list"],
  ["python", "-m", "pip", "check"]
]
commands = [
  ["make", "lint"]
]
commands_post = []

[env.notebooks]
labels = ["notebooks"]
description = "Run notebooks with pytest under {basepython}"
extras = ["all"]
deps = ["lmoments3"]
commands = [
  ["pytest", "--no-cov", "--nbval", "--dist=loadscope", "--rootdir=tests/", "--ignore=docs/notebooks/example.ipynb", "docs/notebooks"]
]
commands_post = []

[env.numpy]
extras = ["dev", "extras"]
deps = ["numpy >=1.25,<2.0"]

[env.offline]
commands = [
  ["xclim", "prefetch_testing_data"],
  ["python", "-c", "print('Running offline tests with positional arguments: --disable-socket --allow-unix-socket --m \"not requires_internet\"')"],
  ["python", "-c", "print('These can be overwritten with: tox -e offline -- -m \"some other marker statement\"')"],
  ["pytest", "--disable-socket", "--allow-unix-socket", {replace = "posargs", default = ["-m", "not requires_internet"], extend = true}]
]

[env.prefetch]
commands = [
  ["xclim", "prefetch_testing_data"],
  ["pytest", "{posargs}"]
]

[env.sbck]
extras = ["dev", "extras"]
commands_pre = [
  ["python", "-c", "print('The sbck dependency requires the \"libeigen3-dev\" package to be installed on the system.')"],
  ["python", "-m", "pip", "install", "sbck>=1.4.2"]
]

[env.upstream]
deps = ["-r CI{/}requirements_upstream.txt"]

[env_run_base]
description = "Run tests with pytest under {basepython}"
set_env = {COV_CORE_SOURCE = "", PYTEST_ADDOPTS = "--numprocesses=logical --durations=10 --cov=xclim --cov-report=lcov", Xfrozen_modules = "off"}
passenv = [
  "CI",
  "COVERALLS_*",
  "GITHUB_*",
  "LD_LIBRARY_PATH",
  "SKIP_NOTEBOOKS",
  "XCLIM_*"
]
extras = ["dev"]
install_command = "python -m pip install --no-user {opts} {packages}"
download = true
commands_pre = [
  ["python", "-m", "pip", "list"],
  ["xclim", "show_version_info"],
  ["python", "-m", "pip", "check"],
  ["xclim", "--help"]
]
commands = [
  ["pytest", "{posargs}"]
]
commands_post = [
  ["coverage", "report"]
]
allowlist_externals = ["git", "xclim"]

[gh.python]
"3.10" = ["py3.10"]
"3.11" = ["sbck"]
"3.12" = ["numpy"]
"3.13" = ["py3.13"]
"3.14" = ["py3.14"]
