env_list = [
  "docs",
  "doctests",
  "lint",
  "notebooks",
  "numpy",
  "sbck",
  "upstream"
]
skip_missing_interpreters = true

[env.complete]
extras = ["complete"]

[env.docs]
labels = ["docs"]
description = "Build the documentation with makefile under {basepython}"
setenv = {PYTHONPATH = "{toxinidir}", READTHEDOCS = "1"}
allowlist_externals = ["env", "make"]
dependency_groups = ["docs"]
commands = [
  ["make", "build-docs"]
]
commands_post = []

[env.doctests]
labels = ["doctests"]
description = "Run doctests with pytest under {basepython}"
allowlist_externals = ["make"]
dependency_groups = ["test"]
commands = [
  ["make", "test-doctests"]
]

[env.lint]
labels = ["lint"]
description = "Run code quality compliance tests under {basepython}"
skip_install = true
allowlist_externals = ["make"]
dependency_groups = ["lint"]
commands_pre = [
  ["python", "-m", "pip", "list"],
  ["python", "-m", "pip", "check"]
]
commands = [
  ["make", "lint"]
]
commands_post = []

[env.notebooks]
labels = ["notebooks"]
description = "Run notebooks with pytest under {basepython}"
allowlist_externals = ["make"]
dependency_groups = ["test-notebooks"]
commands = [
  ["make", "test-notebooks"]
]
commands_post = []

[env.numpy]
deps = ["numpy >=1.25,<2.0"]

[env.offline]
commands = [
  ["xclim", "prefetch_testing_data"],
  ["python", "-c", "print('Running offline tests with positional arguments: --disable-socket --allow-unix-socket --m \"not requires_internet\"')"],
  ["python", "-c", "print('These can be overwritten with: tox -e offline -- -m \"some other marker statement\"')"],
  ["pytest", "--disable-socket", "--allow-unix-socket", {replace = "posargs", default = ["-m", "not requires_internet"], extend = true}]
]

[env.prefetch]
commands = [
  ["xclim", "prefetch_testing_data"],
  ["pytest", "{posargs}"]
]

[env.sbck]
commands_pre = [
  ["python", "-c", "print('The sbck dependency requires the \"libeigen3-dev\" package to be installed on the system.')"],
  ["python", "-m", "pip", "install", "sbck>=1.4.2"]
]

[env.upstream]
deps = ["-r CI{/}requirements_upstream.txt"]

[env_run_base]
description = "Run tests with pytest under {basepython}"
set_env = {COV_CORE_SOURCE = "", PYTEST_ADDOPTS = "--numprocesses=logical --durations=10 --cov=xclim --cov-report=lcov", Xfrozen_modules = "off"}
passenv = [
  "CI",
  "COVERALLS_*",
  "GITHUB_*",
  "LD_LIBRARY_PATH",
  "SKIP_NOTEBOOKS",
  "XCLIM_*"
]
install_command = "python -m pip install --no-user {opts} {packages}"
download = true
dependency_groups = ["test"]
commands_pre = [
  ["python", "-m", "pip", "list"],
  ["xclim", "show_version_info"],
  ["python", "-m", "pip", "check"],
  ["xclim", "--help"]
]
commands = [
  ["pytest", "{posargs}"]
]
commands_post = [
  ["coverage", "report"]
]
allowlist_externals = ["git", "xclim"]

[gh.python]
"3.10" = ["py3.10"]
"3.11" = ["sbck"]
"3.12" = ["numpy"]
"3.13" = ["complete"]
"3.14" = ["py3.14"]
