@import url("styles/furo.css");

.wy-side-nav-search>a img.logo,
.wy-side-nav-search .wy-dropdown>a img.logo {
  width: 12rem
}

.wy-side-nav-search {
  background-color: #eee;
}

.wy-side-nav-search>div.version {
  display: inline;
  color: rgb(23, 84, 159);
}

.wy-nav-top {
  background-color: #555;
}

table.colwidths-given {
    table-layout: fixed;
    width: 100%;
}
table.docutils td {
    white-space: unset;
    word-wrap: break-word;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td.name {
    font-weight: 500;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

dd {
  margin: 0 0 0 2em;
  padding-bottom: 0.5em;
}

dt var {
    font-family: Monospace;
    font-style: normal;
}

.xr-attrs dt {
  display: inline !important;
}

ul.simple li {
 list-style: circle;
}

/*this selects the contents section, the first table of contents and the list item*/
/*underneath it. Then it removes the spacing to make it look whole. If you have more*/
/*items, you can consider using :not(:last-of-type) selector.*/
#contents .toctree-wrapper:first-of-type ul {
    margin-bottom: 0;
}

#queryInput {
  width: 100%;
  padding: 10px;
  margin: 5px;
}

.indElem {
 margin: 10px;
 padding: 10px;
 background-color: #ddd;
 border-radius: 10px;
}

.indName {
  float: right;
}

code > .indName {
  background-color: #ccc;
}

.indVarname {
  border-radius: 10px;
}

/* Rounded corners for keyword labels: */
.keywordlabel {
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    background-color: #ddd;
}

#incVirtModLbl {
    display: inline;
}
