@import url("styles/furo.css");

.wy-side-nav-search>a img.logo,
.wy-side-nav-search .wy-dropdown>a img.logo {
  width: 12rem
}

.wy-side-nav-search {
  background-color: #eee;
}

.wy-side-nav-search>div.version {
  display: inline;
  color: rgb(23, 84, 159);
}

.wy-nav-top {
  background-color: #555;
}

table.colwidths-given {
    table-layout: fixed;
    width: 100%;
}
table.docutils td {
    white-space: unset;
    word-wrap: break-word;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td.name {
    font-weight: 500;
}

tr:nth-child(even) {
  background-color: var(--color-foreground-border);
}

dd {
  margin: 0 0 0 2em;
  padding-bottom: 0.5em;
}

dt var {
    font-family: Monospace;
    font-style: normal;
}

.xr-attrs dt {
  display: inline !important;
}

ul.simple li {
 list-style: circle;
}

/*this selects the contents section, the first table of contents and the list item*/
/*underneath it. Then it removes the spacing to make it look whole. If you have more*/
/*items, you can consider using :not(:last-of-type) selector.*/
#contents .toctree-wrapper:first-of-type ul {
    margin-bottom: 0;
}

#queryInput {
  width: 100%;
  padding: 10px;
  margin: 5px;
}

.indElem {
 margin: 10px;
 padding: 10px;
 background-color: #ddd;
 border-radius: 10px;
}

.indName {
  float: right;
}

code > .indName {
  background-color: #ccc;
}

.indVarname {
  border-radius: 10px;
}

/* Rounded corners for keyword labels: */
.keywordlabel {
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    background-color: #ddd;
}

#incVirtModLbl {
    display: inline;
}

/* extend furo for inline ".only-dark" elements */
body .only-dark-inline,
body .only-light-inline {
  display: none !important;
}

body[data-theme="dark"] .only-dark-inline,
body[data-theme="light"] .only-light-inline {
    display: inline !important;
}
@media not print {
  body[data-theme="dark"] .only-dark-inline,
  body[data-theme="light"] .only-light-inline {
    display: inline !important;
  }
  @media (prefers-color-scheme: dark) {
    body:not([data-theme="light"]) .only-dark-inline{
      display: inline !important;
    }
  }
  @media (prefers-color-scheme: light) {
    body:not([data-theme="dark"]) .only-light-inline{
      display: inline !important;
    }
  }
}

img.xclim-logo-small.only-dark-inline {
    width: 91px;
    height: 103px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    border-image-width: 0px;
    border: none;
    border-image-width: 0px;
    background-image: url("xclim-logo-small-dark.png");
}

img.xclim-logo-small.only-light-inline {
    width: 91px;
    height: 103px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    border-image-width: 0px;
    background-image: url("xclim-logo-small-light.png");
}

img.xclim-logo-small.no-theme {
  display: none;
  width: 0px;
}
