name: xclim

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  black:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tox-env:
          - black
    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.8"
      - name: Install tox
        run: pip install tox
      - name: Run linting suite
        run: tox -e ${{ matrix.tox-env }}

  doctests:
    needs: black
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tox-env:
          - doctests_only
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.8"
      - name: Install tox
        run: pip install tox
      - name: Run doctests
        run: tox -e ${{ matrix.tox-env }}

  test:
    needs: black
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - tox-env: py38-xarray-lm3
            python-version: "3.8"
          - tox-env: py39-slow-lm3
            python-version: "3.9"
          # Bottleneck does not yet support Python3.10
          # https://github.com/pydata/bottleneck/issues/388
          # Builds available for Python3.10 on conda-forge?
          # https://anaconda.org/conda-forge/bottleneck/files
          - tox-env: py310-xarray-lm3
            python-version: "3.10"
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install tox
        run: pip install tox
      - name: Test with tox
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: tox -e ${{ matrix.tox-env }}
      - name: report coverage
        uses: AndreMiras/coveralls-python-action@develop
        with:
          flag-name: run-${{ matrix.tox-env }}
          parallel: true

  finish:
    needs:
      - test
      - doctests
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: AndreMiras/coveralls-python-action@develop
        with:
          parallel-finished: true
