name: xclim

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  black:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tox-env: [black]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Install tox
        run: pip install tox
      - name: Run linting suite
        run: tox -e ${{ matrix.tox-env }}

  doctests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tox-env: [doctests]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Install tox
        run: pip install tox
      - name: Run lint
        run: tox -e ${{ matrix.tox-env }}

  test:
    needs: black
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - tox-env: py37-xarray-lm3-github
            python-version: 3.7
          - tox-env: py38-slow-lm3-github
            python-version: 3.8
          - tox-env: py39-lm3-github
            python-version: 3.9
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install tox
      run: pip install tox
    - name: Test with tox
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
      run: tox -e ${{ matrix.tox-env }}
    - name: report coverage
      uses: coverallsapp/github-action@1.1.3
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        flag-name: run-${{ matrix.tox-env }}
        parallel: true

#  docs:
#    needs: test
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v2
#      - name: Install packages
#        run: |
#          sudo apt-get -y install pandoc
#      - uses: actions/setup-python@v2
#        with:
#          python-version: 3.6
#      - name: Install tox
#        run: pip install tox
#      - name: make docs
#        run: tox -e docs

#    - name: Coveralls
#      uses: coverallsapp/github-action@master
#      with:
#        github-token: ${{ secrets.GITHUB_TOKEN }}
#        flag-name: run-${{ matrix.python-version }}
#        parallel: true

  finish:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - name: Coveralls Finished
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        parallel-finished: true
