name: "xclim Testing Suite"

on:
  push:
    branches:
      - master
    paths-ignore:
      - HISTORY.rst
      - README.rst
      - pyproject.toml
      - setup.cfg
      - xclim/__init__.py
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  pull_request_review:
    types:
      - submitted

jobs:
  black:
    runs-on: ubuntu-22.04
    if: |
      ((github.event_name == 'pull_request') && (github.event.action != 'labeled')) ||
      (github.event.review.state == 'approved') ||
      (github.event_name == 'push')
    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.8"
      - name: Install tox
        run: pip install tox~=3.0
      - name: Run linting suite
        run: tox -e black

  test-py38:
    needs: black
    if: |
      (github.event_name == 'pull_request') && !contains(github.event.pull_request.labels.*.name, 'approved')
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python3.8
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"
      - name: Install tox
        run: pip install tox
      - name: Test with tox
        run: tox -e py38
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  test-py38-upstream-lm3:
    needs: black
    if: |
      contains(github.event.pull_request.labels.*.name, 'approved') ||
      (github.event.review.state == 'approved') ||
      (github.event_name == 'push')
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"
      - name: Install tox
        run: pip install tox
      - name: Test with tox
        run: tox -e py38-upstream-lm3-coverage
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_FLAG_NAME: run-py38-upstream-lm3
          COVERALLS_PARALLEL: true
          COVERALLS_SERVICE_NAME: github

  test-py39-opt-slow:
    needs: black
    if: |
      contains(github.event.pull_request.labels.*.name, 'approved') ||
      (github.event.review.state == 'approved') ||
      (github.event_name == 'push')
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Setup conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: xclim39
          environment-file: environment.yml
          miniforge-variant: Mambaforge
          miniforge-version: latest
          python-version: "3.9"
          use-mamba: true
      - name: Conda and Mamba versions
        shell: bash -l {0}
        run: |
          mamba update -n base conda mamba
          mamba --version
      - name: Install dependencies
        shell: bash -l {0}
        run: |
          conda activate xclim39
          python -m pip install --no-user "git+https://github.com/Ouranosinc/SBCK.git@easier-install#egg=sbck&subdirectory=python"
          python -m pip install --no-user .
      - name: Test
        shell: bash -l {0}
        run: |
          conda activate xclim39
          pip check
          pytest xclim --durations=10
        env:
          CONDA_EXE: mamba
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#      - name: Install tox
#        shell: bash -l {0}
#        run: |
#          mamba install -n xclim39 tox tox-conda
#      - name: Test
#        shell: bash -l {0}
#        run: |
#          conda activate xclim39
#          tox -e opt-slow
#        env:
#          CONDA_EXE: mamba
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Report coverage
        shell: bash -l {0}
        run: |
          coveralls --service=github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_FLAG_NAME: run-py39-opt-slow
          COVERALLS_PARALLEL: true
          COVERALLS_SERVICE_NAME: github

  test-py310-lm3:
    needs: black
    if: |
      contains(github.event.pull_request.labels.*.name, 'approved') ||
      (github.event.review.state == 'approved') ||
      (github.event_name == 'push')
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install tox
        run: pip install tox~=3.0
      - name: Test with tox
        run: tox -e py310-lm3-coverage
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_FLAG_NAME: run-py310-lm3
          COVERALLS_PARALLEL: true
          COVERALLS_SERVICE_NAME: github

  doctests:
    needs: black
    if: |
      contains(github.event.pull_request.labels.*.name, 'approved') ||
      (github.event.review.state == 'approved') ||
      (github.event_name == 'push')
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.8"
      - name: Install pylint and tox
        run: pip install pylint tox
      - name: Run pylint
        run: pylint --rcfile=pylintrc --disable=import-error --exit-zero xclim
      - name: Test with tox
        run: tox -e doctests_only-coverage
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_FLAG_NAME: run-doctests
          COVERALLS_PARALLEL: true
          COVERALLS_SERVICE_NAME: github

  finish:
    needs:
      - doctests
      - test-py39-opt-slow
      - test-py310-lm3
    runs-on: ubuntu-22.04
    container: python:3-slim
    steps:
      - name: Coveralls Finished
        run: |
          pip3 install --upgrade coveralls
          coveralls --service=github --finish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
