name: Publish Release Announcement to Mastodon

on:
  release:
    types:
      - released

permissions:
  contents: read

jobs:
  toot:
    name: Generate Mastodon Toot
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            fosstodon.org:443
            github.com:443

      - name: Checkout Repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Get Release Description
        run: |
          # Fetch the release information using the GitHub API
          RELEASE_INFO=$(curl -sH "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            "https://api.github.com/repos/${{ github.repository }}/releases/tags/${TAG_NAME}")

          # Extract the release description from the response
          RELEASE_DESCRIPTION=$(echo "$RELEASE_INFO" | jq -r .body)

          # Remove Markdown links and the space preceding them
          CLEANED_DESCRIPTION=$(echo "$RELEASE_DESCRIPTION" | sed -E 's/\ \(\[[^]]+\]\([^)]+\)\)//g')

          # Extract the first line of the release description
          CONTRIBUTORS=$(echo "$CLEANED_DESCRIPTION" | head -n 1)

          echo "contributors=${CONTRIBUTORS}" >> $GITHUB_ENV
        env:
          TAG_NAME: ${{ github.event.release.tag_name }}

      - name: Prepare Message
        id: render_template
        uses: chuhlomin/render-template@807354a04d9300c9c2ac177c0aa41556c92b3f75 # v1.10
        with:
          template: .github/publish-mastodon-template.md
          vars: |
            tag: ${{ github.event.release.tag_name }}
            url: https://github.com/Ouranosinc/xclim/releases/tag/${{ github.event.release.tag_name }}

      - name: Message Preview
        run: |
          echo "${TEMPLATE}${CONTRIBUTORS}"
        env:
          TEMPLATE: ${{ steps.render_template.outputs.result }}
          CONTRIBUTORS: ${{ env.contributors }}

      - name: Send toot to Mastodon
        uses: cbrgm/mastodon-github-action@adb400a75e66109332b0e3dcd5f07ceec475e5f7 # v2.1.15
        with:
          url: ${{ secrets.MASTODON_URL }}
          access-token: ${{ secrets.MASTODON_ACCESS_TOKEN }}
          message: "${{ steps.render_template.outputs.result }}${{ env.contributors }}"
          language: "en"
          visibility: "public"
