name: Publish Release Announcement to Mastodon

on:
  release:
    types:
      - published
  workflow_dispatch:
    inputs:
      version-tag:
        description: 'Version to announce'
        required: true
        type: string
      dry-run:
        description: 'Dry run'
        default: true
        type: boolean

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  toot:
    name: Generate Mastodon Toot
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@eb238b55efaa70779f274895e782ed17c84f2895 # v2.6.1
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Current Version
        if: ${{ !github.event.inputs.version-tag }}
        run: |
          CURRENT_VERSION="$(grep -E '__version__'  xclim/__init__.py | cut -d ' ' -f3)"
          echo "version=v${CURRENT_VERSION}" >> $GITHUB_ENV
      - name: Set Version from Input
        if: ${{ github.event.inputs.version-tag }}
        run: |
          echo "version=${{ github.event.inputs.version-tag }}" >> $GITHUB_ENV

      - name: Get Release Description
        if: ${{ !endsWith(env.current_version, '-dev') }}
        id: get_release_description
        run: |
          # Fetch the release information using the GitHub API
          RELEASE_INFO=$(curl -sH "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            "https://api.github.com/repos/${{ github.repository }}/releases/tags/${{ env.version }}")

          # Extract the release description from the response
          RELEASE_DESCRIPTION=$(echo "$RELEASE_INFO" | jq -r .body)

          # Remove Markdown links and the space preceding them
          CLEANED_DESCRIPTION=$(echo "$RELEASE_DESCRIPTION" | sed -E 's/\ \(\[[^]]+\]\([^)]+\)\)//g')

          # Extract the first line of the release description
          CONTRIBUTORS=$(echo "$CLEANED_DESCRIPTION" | head -n 1)

          echo "contributors=${CONTRIBUTORS}" >> $GITHUB_ENV

      - name: Prepare Message
        id: render_template
        uses: chuhlomin/render-template@a473db625a96c98e519d188812dc22bcaf54ffba # v1.9
        with:
          template: .github/publish-mastodon.template.md
          vars: |
            version: ${{ env.version }}

      - name: Message Preview
        run: |
          echo "${{ steps.render_template.outputs.result }}${{ env.contributors }}"

      - name: Send toot to Mastodon
        if: ${{ github.event.inputs.dry-run != 'true' }} || ${{ github.event_name == 'release' }}
        uses: cbrgm/mastodon-github-action@d98ab3376f941df14d37d5737961de431c0838c6 # v1.0.3
        with:
          message: "${{ steps.render_template.outputs.result }}${{ env.contributors }}"
          visibility: "public"
        env:
          MASTODON_URL: ${{ secrets.MASTODON_URL }}
          MASTODON_ACCESS_TOKEN: ${{ secrets.MASTODON_ACCESS_TOKEN }}
